.todo-item{
    width: 100%;
    margin:0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:3rem;
    border-radius: 0.5rem;
}

.todo-details{
    display: flex;
    align-items: center;
    gap:0.5rem;
    margin-left:0.5rem;
}

.todo-check{
   height:1rem;
   cursor: pointer;
}

.todo-text{
    font-size: 16px;
    font-weight: 400;
}

.delete-icon{
    height:0.8rem;
    cursor: pointer;
    margin-right: 0.5rem;
}